---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// Cast member data
const castMembers = [
  {
    name: "Sage",
    pronouns: "he/him",
    socials: "@redsagerpg (x) zacac (instagram)",
    role: "Lorekeeper - moderator - producer",
    currentShow: "Everything",
    fact: "Can pull a npc concept out of their arse",
    image: "../Cast/Sageface.png", // Replace with actual image path
  },
  {
    name: "Comfy",
    pronouns: "she/they",
    socials: "@comfiesthooman (x)",
    role: "Cast member - moderator - producer",
    currentShow: "Hushed Embers",
    fact: "Has too many math rocks",
    image: "../Cast/Comfy_(Sophie).jpg", // Replace with actual image path
  },
  {
    name: "Ez",
    pronouns: "they/them",
    socials: "@theastralbea (x)",
    role: "Cast member - moderator",
    currentShow: "nexus glitch",
    aboutme:
      "I've been playing D&D for a few years now, and have been branching out into other TTRPGs recently! I enjoy drawing, MMOs (FFXIV my beloved) and all things spooky! ",
    fact: "Has over 200 tote bags. yes, they have a problem",
    image: "../Cast/AstraBea_(Ez).jpg", // Replace with actual image path
  },
  {
    name: "Russ",
    pronouns: "he/they",
    socials: "@itslesterseale (x - instragram)",
    role: "Cast Member",
    currentShow: "Nexus glitch",
    aboutme:
      "I am an actor, who has been playing D&D for around 9/10 years now. I've also enjoyed exploring other ttrpg's (Such as Dread and Hidden Isle) and board games! My current favorite is Robo Rally, a robot-wars-esque strategy game.",
    fact: "works as an escape room host. lets hope they dont host a one shot and trap us with puzzles...",
    image: "../Cast/Lester_(Russ).jpg", // Replace with actual image path
  },
  {
    name: "Lavellan",
    pronouns: "she/they",
    socials: "@Lave_llan on X (formerly known as Twitter)",
    role: "Cast Member",
    currentShow: "Hushed Embers",
    aboutme:
      "Hi, my name is Lavellaan and I am 25 years old, hailing from Sweden! 🇸🇪 I have been playing D&D for roughly 7 years now, which has mostly consisted of me being a player - but I have been known to host a one shot here and there for my friends to try out the DM's seat. Asides from that, it is to no surprise I love my fair share of elves and fae-creatures!",
    fact: "I have seen a moose a bit too close, it was terrifying. I am also building up my own campaign!",
    image: "../Cast/Lavellaan_(Towe).png", // Replace with actual image path
  },
  {
    name: "Jay",
    pronouns: "they/them",
    socials: "@redandbluejay (Instagram and X) ",
    role: "Cast Member",
    currentShow: "Hushed Embers and Nexus Glitch",
    aboutme:
      "Been only play D&D for two years but know that I'll play it til I keel over. Currently at uni studying English in the hope of going in to video game narrative storytelling.",
    fact: "I create way too many characters that I'll never play.",
    image: "../Cast/BlueJay_(Jay).jpg", // Replace with actual image path
  },
  {
    name: "Lamb",
    pronouns: "he/him",
    socials: "@tomknightuk (instagram)",
    role: "Cast Member",
    currentShow: "Nexus Glitch",
    fact: "Has learned the hard wat the fire BOLT and fireBALL are two very different spells",
    image: "../Cast/lamb.png", // Replace with actual image path
  },
  {
    name: "Sam",
    pronouns: "he/him",
    socials: "@shrtheatre",
    role: "Cast Member",
    currentShow: "Nexus Glitch",
    fact: "Has taught arthur darvill a cool dance",
    image: "../Cast/fb6c8fb2-8044-4db6-b281-56c0377df0f6.jpg", // Replace with actual image path
  },
  {
    name: "Ryn",
    pronouns: "he/him",
    socials: "@ryn_dnd(x)",
    role: "Cast Member",
    currentShow: "Hushed Embers & Nexus Glitch",
    fact: "Resident Chaos Goblin",
    image: "../Cast/ryn.jpg", // Replace with actual image path
  },
  {
    name: "Drizz",
    pronouns: "he/him",
    socials: "@garathrim (x)",
    role: "Cast Member",
    currentShow: "Hushed Embers",
    fact: "didnt send comfy a cool fact so likes to lick rocks",
    image: "../Cast/Drizz.png", // Replace with actual image path
  },
];

const heroImage = "/PA Splash.png"; // Replace with the actual hero image path
const MeetTheImage = "../Cast/Meet_the_Cast.png"; // Replace with the actual hero image path
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="Meet the Cast"
      description="Meet the players from our D&D campaign."
    />
  </head>
  <body>
    <Header />
    <main>
      <div class="MeetTheImage">
        {
          MeetTheImage && (
            <img width={1020} height={510} src={MeetTheImage} alt="Meet" />
          )
        }
      </div>
      <h1 style="color: #e1e5e6;"></h1>
      <div class="hero-image">
        {
          heroImage && (
            <img width={1020} height={510} src={heroImage} alt="Hero Image" />
          )
        }
      </div>

      <p>Here are the talented players of our campaign:</p>

      {
        castMembers.map((member, index) => (
          <div
            class="cast-member"
            style={`flex-direction: ${index % 2 === 0 ? "row" : "row-reverse"}`}
          >
            <img src={member.image} alt={member.name} />
            <div class="text-container">
              <h2>{member.name}</h2>
              <p>
                <strong>Pronouns:</strong> {member.pronouns}
              </p>
              <p>
                <strong>Socials:</strong> {member.socials}
              </p>
              <p>
                <strong>Role:</strong> {member.role}
              </p>
              <p>
                <strong>Current Show:</strong> {member.currentShow}
              </p>
              <p>
                <strong> About Me:</strong> {member.aboutme}
              </p>
              <p>
                <strong>Fact:</strong> {member.fact}
              </p>
            </div>
          </div>
        ))
      }
    </main>
    <Footer />
  </body><style>
    .MeetTheImage {
      width: 100%;
    }
    .MeetTheImage img {
      display: block;
      margin: 0 auto;
      border-radius: 50px;
      transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
    }
    .hero-image {
      width: 100%;
    }
    .hero-image img {
      display: block;
      margin: 0 auto;
      border-radius: 50px;
      transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
    }
    .hero-image img:hover {
      box-shadow: var(--box-shadow); /* Apply box shadow on hover */
    }
    .cast-member {
      display: flex;
      align-items: center;
      margin-bottom: 2em;
      padding: 1em;
      border: 1px solid #ddd;
      border-radius: 8px;
    }
    .cast-member img {
      width: 250px; /* Adjust size as needed */
      height: auto;
  
      border-radius: 18px;
      margin-right: 1.5em; /* Space between image and text */
      transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
    }
    .cast-member img:hover {
      box-shadow: var(--box-shadow); /* Apply box shadow on hover */
    }
    .text-container {
      margin-left: 1.5em; /* Add left margin for text container on left image */
      margin-right: 1.5em; /* Add right margin for text container on right image */
    }
    .cast-member h2 {
      margin: 0 0 0.5em;
    }
    .cast-member p {
      margin: 0;
    }
  </style>
</html>
